body {
    background-image: url('Background-05.jpg');
    justify-items: center;
    height:  100vh;
    align-items: center;
    width: 100vw;
    overflow: auto;
     font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;


}

.card {
    padding: 3rem;
    background-image: url('06.png');
    background-repeat:no-repeat;
    background-size: contain;
    height: 500px;
    filter: drop-shadow(0px 0px 1px rgb(63, 47, 47));
    justify-self: center;
    align-self:  center;
    position: relative;
    top: 25%;
    margin: 0;
}

.card-body {
    justify-content: space-evenly;
    display: inline-flex;
    flex-direction: column;
    height: 35%;
    position: relative;
    width: 100%;
    font-size: 20px;
}

.card-header {
    padding: 0;
    margin: 0;
    position: relative;
    top: -50px;
    width: 100%;
    text-align: center;
    color: #3f2f2f;
    height: 2%;
}

.submit-cancel {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: 0;
    justify-content: space-around;
    position: relative;
    justify-items: center;

}

button {
    border: none;
 background-color: chocolate;
    color: #3f2f2f;
    padding: 1rem;
    cursor: pointer;
 border-radius: 8px;
    filter: drop-shadow(0px 0px 1px rgb(63, 47, 47));
}