body {
    background-color: #fff4f0;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #3fa4af 1px, transparent 1px),
    linear-gradient(to bottom, #3fa4af 1px, transparent 1px);
    font-family: "ff-providence-sans-web-pro", sans-serif;
font-weight: 400;
font-style: normal;
    overflow: auto;

}


.header {
    position: relative;
    top: 100px;
    height: 100%;
    width: 75%;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    display: flex;
    flex-direction: row;
    left: 250px;
    margin: 0;
}

.buttons-container {
    position: absolute;
    top: 3%;
    left: 89%;
}

button {
    font-family: 'ff-providence-sans-web-pro', sans-serif;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    background-color: #fdb977;
    border:  none;
    border-radius: 5px;
    padding: 8px;
    color: #695353;
    width: 90px
}

.logo-container {
   background-image: url('./public/30.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 659px;
    width: 1050px;
    align-items: center;
    left: 200px;
    position: relative;
}

h1 {
    justify-self: center;
    align-self: center;
    top: 100px;
    position: absolute;
    font-size: 205px;
    color: #695353;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f8ae60;
}