<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <script src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-webcomponent/dist/tinymce-webcomponent.min.js"></script>
<link rel="stylesheet" href="https://use.typekit.net/tmb0jpk.css">
      <link rel="stylesheet" href="../static/home.css"
    <title>Flask Tiptap Editor</title>

  </head>
  <body>
<div id="editor-container">
    <tinymce-editor
  api-key="ponjo238k6p6lbglhzgy1parg3j4ttm9m6bxb1x8ibaj9qnc"


      menubar="true"
      plugins="advlist autolink lists link image charmap preview anchor
        searchreplace visualblocks code fullscreen
        insertdatetime media table code help wordcount"
      toolbar="undo redo | blocks | bold italic backcolor |
        alignleft aligncenter alignright alignjustify |
        bullist numlist outdent indent | removeformat | help"
      content_style="body
      {
        font-family: 'ff-providence-sans-web-pro', sans-serif;
    font-weight: 200;
    font-style: normal;
      }"
    > &lt;p&gt;Welcome to the TinyMCE Web Component example!&lt;/p&gt;</tinymce-editor>
</div>

  </body>
</html>
